{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/addstudy.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subjects.css' %}">
    <link rel="stylesheet" href="{% static 'styles/delete_subject.css' %}">
    <title>{% block title %}Focai    {% endblock title %}</title>
</head>
<body>

    <div class="container">
        
        {% include "sidebar.html" %}
        
        {% include "navbar.html" %}
    
        {% block content %}

        
        {% endblock content %}

    </div>
    <script src="{% static 'js/sideBarOpen.js' %}"></script>
</body>
</html>