{% load static %}
<div class="sidebar_section">
    <div class="sidebar_btn">
        <btn class="sidebar_btn_img" onclick="sidebar_btn_click()">
            <span class="material-symbols-outlined">menu</span>
        </btn>
    </div>
    <a href="{% url 'home' %}" class="symbol"><h1>FocaAI</h1></a>
</div>

<div class="header_utilities">
    {% if request.user.is_authenticated %}
        <div class="profile">
                <a href=""><img src="{% static 'img/avatar.svg' %}" alt="" class="profile_img"></a>
                <a href="{% url 'logout' %}" class="btn_login_logout">Logout</a>
        </div>
    {% else %}
        <div class="profile">
            <a href="{% url 'login' %}"><img src="{% static 'img/avatar.svg' %}" alt="" class="profile_img"></a>
            <a href="{% url 'login' %}" class="btn_login_logout">Login</a>
        </div>
    {% endif %}
</div>