.sidebar{
    position: fixed;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    
    width: 0%;
    height: 100%;
    
    background-color: #FF6F6F;
    border-radius: 0 20px 20px 0;

    transition: .5s;
    z-index: 3;
}

.sidebar_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    margin-top: 18vh;
}

.sidebar_item{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    width: 80%;
    height: 50px;


    margin-block: 10px;
    
    border-radius: 20px;
    cursor: pointer;

    transition: .5s;
    
    background-color: #F28989;
    color: white;
}

.sidebar_item .icon{
    width: 10%;
    margin-left: 10%;
    transition: .1s;
}

.side_bar_item_text{
    display: inline-block;

    font-size: 1rem;
    margin-left: 5%;
}

.side_bar_item_text::after
{   content: '';
    width: 0;
    height: 1px;
    display: block;
    background: black;
    transition: .5s;
}

.sidebar_item:hover{
    color: black;
    background-color: #ff9f9f;
}   

.sidebar_item:hover .icon{
    color: black;
}

.sidebar_item:hover .side_bar_item_text::after{
    width: 100%;
}